{% extends 'main/base.html' %}
{% load music_tags %}

{% block title %} {{ artist.artist_name }} {% endblock %}

{% block content %}

    <section>
        <div class="section-browse" style="color: #000">
            <div class="section_container_background" style="background-image: url('{{ artist.artist_poster_img.url }}')"></div>

            <div class="section_container_artist_info_block">
                <div class="artist_info_block_header_system">
                    <div class="artist_header_system_search">
                        <form method="get">
                            <i class="artist_detail_search_icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                                </svg>
                            </i>
                            <input type="search" name="search" placeholder="Search..." autocomplete="off" class="artist_detail_search_input">
                        </form>
                    </div>
                    <div class="asd_center"></div>
                    <div class="artist_header_system_account_info">
                        <div class="account_info_profile_btn" style="background-image: url('{{ artist.artist_img.url }}')"></div>
                        <i class="click_icon_btn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#4B0082" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                                <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                            </svg>
                        </i>
                        <div class="click_profile_btn_block">
                            <div class="click_profile_main_info">
                                <p style="margin-top: -10px;"><a href=""> Profile </a></p>
                                <p><a href=""> My musics </a></p>
                                <p><a href=""> My albums </a></p>
                                <h1><a href="{% url 'register_artist' %}">To be artist </a></h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="artist_info_block_main_info">
                    <p>ARTIST</p>
                    <h1>{{ artist.artist_name }}</h1>
                </div>
                <div class="artist_info_block_play_all_music">
                    <div class="artist_music_play_btn">
                        Play
                    </div>
                    <div class="follow_btn">
                        <div class="artist_music_follow_btn">
                            Follow
                        </div>
                    </div>
                    <div class = "sums_likes">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="bi bi-heart-fill" fill="#4B0082" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/></svg>
                        <p style="font-size: 20px;">{{sum_likes_of_artist}}</p>
                    </div>
                </div>
            </div>

            <div class="section_container_artist_music_info_block">
                <div class="artist_music_info_header_block">
                    <span class="tablink" onclick="openPage('Music', this, '#4B0082')" id="defaultOpen"><h1>MUSIC</h1></span>
                    <span class="tablink" onclick="openPage('Album', this, '#4B0082')" style="margin-left: 20px;"><h1>ALBUM</h1></span>
                </div>
                <div class="artist_music_info_all_musics tabcontent" id="Music" style="display: flex; justify-content: space-between;">
                    <ul class="text-xs sm:text-base divide-y border-t cursor-default audio-tracks audio-tracks2 get_musics">
                        {% for music in music_list %}
                            <li class="flex items-center space-x-3 hover:bg-purple-500 play_icon">
                                <button class="p-3 hover:bg-purple-800 group focus:outline-none play_single" id="play_single">
                                    <i class="now_playing">
                                        <svg class="w-4 h-4 group-hover:text-white play_svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polygon points="5 3 19 12 5 21 5 3"></polygon></svg>
                                    </i>
                                </button>
                                <div class="flex-1" style="display: flex;">
                                    <p class="track-artist">{{ music.author_name }}</p> <p style="padding: 0 5px;"> - </p> <p class="track-name">{{ music.name_of_song }}</p>
                                </div>
                                <div class="text-xs text-white-400">
                                    {{ music.time_length | time_formatter }}
                                </div>
                                <a href="{{ music.music_file.url }}" class="focus:outline-none pr-4 group">
                                    <svg class="w-4 h-4 group-hover:text-green-600" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M3 15v4c0 1.1.9 2 2 2h14a2 2 0 0 0 2-2v-4M17 9l-5 5-5-5M12 12.8V2.5"/></svg>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                    <ul class="music_play_similar_artists_block">
                        <h1>Similar Musics</h1>
                        {% for art in similar_musics %}
                            <li class="list_similar_musics">
                                <a href=""><div class="image_list_similar_musics" style="background-image: url('{{ art.cover_image.url }}')"></div></a>
                                <div class="list_similar_musics_main_info">
                                    <h2>{{ art.author_name.first_name }} {{ art.author_name.last_name }}</h2>
                                    <p>{{ art.name_of_song }}</p>
                                </div>
                                <a href=""><span>Play</span></a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="artist_music_info_all_musics tabcontent" id="Album" style="display: flex; justify-content: space-between;">
                    <ul class="text-xs sm:text-base divide-y border-t cursor-default get_albums">
                        {% for album in album_list %}
                            <div class="album_block">
                                <div class="albums_container_block">
                                    <div class="albums_container_image_cover">
                                        <div class="albums_container_image">
                                            <a href="{{ album.get_absolute_url }}">
                                                <span class="albums_container_span_hover">
                                                    <p> Listen </p>
                                                    <i class="albums_container_icon_hover">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#7a33d8" class="bi bi-play-circle-fill" viewBox="0 0 16 16">
                                                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/>
                                                        </svg>
                                                    </i>
                                                </span>
                                            </a>
                                            <img src="{{ album.img.url }}" alt="{{ album.img.alt }}">
                                        </div>
                                    </div>
                                    <h2>{{ album.name_of_album }}</h2>
                                </div>
                            </div>
                        {% endfor %}
                    </ul>
                    <ul class="music_play_similar_artists_block">
                        <h1>Similar Albums</h1>
                        {% for art in similar_albums %}
                            <li class="list_similar_musics">
                                <a href="{{ album.get_absolute_url }}"><div class="image_list_similar_musics" style="background-image: url('{{ art.img.url }}')"></div></a>
                                <div class="list_similar_musics_main_info">
                                    <h2>{{ art.author_of_album.first_name }} {{ art.author_of_album.last_name }}</h2>
                                    <p>{{ art.name_of_album }}</p>
                                </div>
                                <a href="{{ album.get_absolute_url }}"><span> Play </span></a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="footer artist_detail_footer">
                <div class="footer_music_play">
                    <div class="footer_music_play_open_window">
                        <div class="music_img image_footer_open_window" style="background-image: url('/media/music_images/Allan-Walker-OnMyWay-cover.jpg')"></div>
                        <div class="footer_opened_window_music_play">
                            <div class="footer_opened_window_main_info_music">
                                <h1 class="song-title">
                                    Anvarbek
                                </h1>
                                <p class="artist">
                                    Anvarbek
                                </p>
                            </div>
                            <div class="footer_opender_window_script_music">
                                <i class="prev prev-track opened_window_prev_music">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#4B0082" class="bi bi-skip-end-fill" viewBox="0 0 16 16">
                                        <path d="M12.5 4a.5.5 0 0 0-1 0v3.248L5.233 3.612C4.693 3.3 4 3.678 4 4.308v7.384c0 .63.692 1.01 1.233.697L11.5 8.753V12a.5.5 0 0 0 1 0V4z"/>
                                    </svg>
                                </i>
                                <i class="playing opened_window_play_pause_music">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="#4B0082" class="bi bi-play-circle" viewBox="0 0 16 16">
                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                        <path d="M6.271 5.055a.5.5 0 0 1 .52.038l3.5 2.5a.5.5 0 0 1 0 .814l-3.5 2.5A.5.5 0 0 1 6 10.5v-5a.5.5 0 0 1 .271-.445z"/>
                                    </svg>
                                </i>
                                <i class="next next-track opened_window_next_music">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#4B0082" class="bi bi-skip-end-fill" viewBox="0 0 16 16">
                                        <path d="M12.5 4a.5.5 0 0 0-1 0v3.248L5.233 3.612C4.693 3.3 4 3.678 4 4.308v7.384c0 .63.692 1.01 1.233.697L11.5 8.753V12a.5.5 0 0 0 1 0V4z"/>
                                    </svg>
                                </i>
                            </div>
                        </div>
                    </div>
                    <div class="footer_music_play_open_icon">
                        <i class="footer_music_play_icon" >
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#4B0082" class="bi bi-caret-down-fill open_footer_window_icon" viewBox="0 0 16 16">
                                <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                            </svg>
                        </i>
                    </div>
                    <div class="currentDuration text-purple-900">
                        0:00
                    </div>
                    <div class="progress_container bg-purple-600">
                        <div class="relative h-1 bg-purple-700">
                            <div class="absolute h-full w-2 progress bg-green-500 flex items-center justify-end">
                                <div class="rounded-full w-3 h-3 bg-white shadow"></div>
                            </div>
                        </div>
                    </div>
                    <div class="Duration text-purple-900" id="Duration">
                        0:00
                    </div>
                    <div class="music_volume_setting">
                        <i>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-volume-down-fill" viewBox="0 0 16 16">
                                <path d="M9 4a.5.5 0 0 0-.812-.39L5.825 5.5H3.5A.5.5 0 0 0 3 6v4a.5.5 0 0 0 .5.5h2.325l2.363 1.89A.5.5 0 0 0 9 12V4zm3.025 4a4.486 4.486 0 0 1-1.318 3.182L10 10.475A3.489 3.489 0 0 0 11.025 8 3.49 3.49 0 0 0 10 5.525l.707-.707A4.486 4.486 0 0 1 12.025 8z"/>
                            </svg>
                        </i>
                        <input type="range" min="0" max="100" value="25" class="volume_slider" onchange="setVolume()">
                        <i>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-volume-up-fill" viewBox="0 0 16 16">
                                <path d="M11.536 14.01A8.473 8.473 0 0 0 14.026 8a8.473 8.473 0 0 0-2.49-6.01l-.708.707A7.476 7.476 0 0 1 13.025 8c0 2.071-.84 3.946-2.197 5.303l.708.707z"/>
                                <path d="M10.121 12.596A6.48 6.48 0 0 0 12.025 8a6.48 6.48 0 0 0-1.904-4.596l-.707.707A5.483 5.483 0 0 1 11.025 8a5.483 5.483 0 0 1-1.61 3.89l.706.706z"/>
                                <path d="M8.707 11.182A4.486 4.486 0 0 0 10.025 8a4.486 4.486 0 0 0-1.318-3.182L8 5.525A3.489 3.489 0 0 1 9.025 8 3.49 3.49 0 0 1 8 10.475l.707.707zM6.717 3.55A.5.5 0 0 1 7 4v8a.5.5 0 0 1-.812.39L3.825 10.5H1.5A.5.5 0 0 1 1 10V6a.5.5 0 0 1 .5-.5h2.325l2.363-1.89a.5.5 0 0 1 .529-.06z"/>
                            </svg>
                        </i>
                    </div>
                </div>
                 <audio preload="metadata" autoplay="false" class="audio-player" >
                    {% for audio in music_list %}
                        <source src="{{ audio.music_file.url }}">
                    {% endfor %}
                </audio>
            </div>
        </div>
    </section>

    <script>

        function openPage(pageName, elmnt, color) {
            let i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName('tabcontent');
            for(i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = 'none';
            }
            tablinks = document.getElementsByClassName('tablink');
            for(i = 0; i < tablinks.length; i++) {
                tablinks[i].style.borderBottom = "";
            }
            document.getElementById(pageName).style.display = 'flex';
            elmnt.style.borderBottom = "3px solid " + `${color}` + " ";
        }
        document.getElementById('defaultOpen').click();







        const similar_art = [
            {% for art in similar_artists %}
                {
                    img: '{{ art.cover_image.url }}',
                    {% for genre in art.genre.all %}
                        genre: '{{ genre.name_of_genre }}',
                    {% endfor %}
                    first_name: '{{ art.author_name.first_name }}',
                    last_name: '{{ art.author_name.last_name }}'
                },
            {% endfor %}
        ]

        console.log(similar_art)






        const profile_btn = document.querySelector('.account_info_profile_btn');
        const text_block = document.querySelector('.click_profile_main_info');
        const open_block = document.querySelector('.click_profile_btn_block');
        const icon_btn = document.querySelector('.click_icon_btn');

        profile_btn.addEventListener('click', () => {
            profile_btn.style.display = 'none';
            open_block.style.display = 'block';
            icon_btn.style.display = 'block';
            icon_btn.style.transform = 'rotate(180deg)';
        })

        icon_btn.addEventListener('click', () => {
            profile_btn.style.display = 'block';
            open_block.style.display = 'none';
            icon_btn.style.display = 'none';
            icon_btn.style.transform = 'rotate(360deg)';
        })


        const open_window_icon = document.querySelector('.open_footer_window_icon');
        const opened_window = document.querySelector('.footer_music_play_open_window');
        let test = true;

        open_window_icon.addEventListener('click', () => {
            if(test) {
                test = false;
                opened_window.style.display = 'block';
                open_window_icon.style.transform = 'rotate(270deg)'
            }
            else {
                test = true;
                opened_window.style.display = 'none';
                open_window_icon.style.transform = 'rotate(90deg)'
            }
        })




        let now_playing = document.querySelector('.play_single');
        const play_btn_up_header = document.querySelector('.artist_music_play_btn');
        const player = document.querySelector('.audio-player');
        const play = document.querySelector('.playing');
        const prev = document.querySelector('.prev');
        const next = document.querySelector('.next');
        let duration = document.querySelector('.Duration');
        const currentTime = document.querySelector('.currentDuration');
        const progress = document.querySelector('.progress');
        const progress_container = document.querySelector('.progress_container');
        const audio_tracks = document.querySelector('.audio-tracks');
        const song_title = document.querySelector('.song-title');
        const artist = document.querySelector('.artist');
        const music_img = document.querySelector('.music_img');
        let volume_slider = document.querySelector('.volume_slider');
        let randomIcon = document.querySelector('.fa-random');
        let likeIcon = document.querySelector('.main_info_like_icon');


        let isRandom = false;
        let musicIndex = 0;

        let a = 1;

        const musics = [
                {% for musics in music_list %}
                    {
                        img: '{{ musics.cover_image.url }}',
                        name: '{{ musics.name_of_song }}',
                        artist: '{{ musics.author_name }}',
                        music: '{{ musics.music_file.url }}'
                    },
                {% endfor %}
        ];

        const setSRC = () => {
            player.src = `${musics[musicIndex].music}`
            song_title.textContent = musics[musicIndex].name
            artist.textContent = musics[musicIndex].artist;
            music_img.style.backgroundImage = "url(" + musics[musicIndex].img + ")";
        }

        console.log(musics)

        const playOrpause = () => {
            if(player.paused) {
                player.play();
                play.innerHTML = '<i><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="#4B0082" class="bi bi-pause-circle-fill" viewBox="0 0 16 16"><path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.25 5C5.56 5 5 5.56 5 6.25v3.5a1.25 1.25 0 1 0 2.5 0v-3.5C7.5 5.56 6.94 5 6.25 5zm3.5 0c-.69 0-1.25.56-1.25 1.25v3.5a1.25 1.25 0 1 0 2.5 0v-3.5C11 5.56 10.44 5 9.75 5z"/></svg></i>';
                music_block.style.marginTop = '-16px';
            }
            else {
                player.pause();
                play.innerHTML = '<i><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="#4B0082" class="bi bi-play-circle" viewBox="0 0 16 16"><path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/><path d="M6.271 5.055a.5.5 0 0 1 .52.038l3.5 2.5a.5.5 0 0 1 0 .814l-3.5 2.5A.5.5 0 0 1 6 10.5v-5a.5.5 0 0 1 .271-.445z"/></svg></i>'
            }
        }

        play_btn_up_header.addEventListener('click', () => {
            opened_window.style.display = 'block';
            open_window_icon.style.transform = 'rotate(270deg)'
            playOrpause();
        })

        const formatTime = (secs) => {
            let min = Math.floor((secs % 3600) / 60)
            let sec = Math.floor(secs % 60)

            if (sec < 10) {
                sec = `0${sec}`
            }
            return `${min}:${sec}`
        }

        // load music on refresh
        setSRC();
        player.pause();

        // when play is clicked
        play.addEventListener(`click`, () => {
            playOrpause();
        })

        // load duration of music for UI
        player.addEventListener('loadedmetadata', () => {
            duration.textContent = formatTime(player.duration)
        })

        // update progress bar
        player.addEventListener('timeupdate', () => {
            let secs = player.currentTime;
            let total = player.duration;

            currentTime.textContent = formatTime(player.currentTime);

            let progress_container_width = progress_container.offsetWidth;
            let progress_width = progress.offsetWidth;
            let audio_played = (secs / total) * 100;
            let newWidth = progress_container_width * (audio_played / 100);
            progress.style.width = `${newWidth}px`;

            if(player.currentTime === player.duration) {
                musicIndex = musicIndex + 1;
                if (musicIndex === musics.length) {
                    setSRC();
                    player.pause();
                }
                if (musicIndex > musics.length - 1) {
                    musicIndex = 0;
                }
                setSRC();
                player.play();
            }
        })

        // when prev btn is clicked
        prev.addEventListener('click', () => {
            musicIndex = musicIndex - 1;
            if (musicIndex < 0) {
                musicIndex = musics.length - 1;
            }
            setSRC();
            playOrpause();
        })

        // when next btn is clicked
        next.addEventListener('click', () => {
            musicIndex = musicIndex + 1;
            if (musicIndex > musics.length - 1) {
                musicIndex = 0;
            }
            setSRC();
            playOrpause();
        })

        // update progress bar on click
        progress_container.addEventListener('click', (e) => {
            const click_percentage = (e.offsetX / progress_container.offsetWidth) * 100;
            const audio_played = (click_percentage / 100) * player.duration;
            let playing;
            if (player.paused) {
                playing = false;
            }
            else {
                playing = true;
            }
            player.currentTime = audio_played;

            if (playing === false) {
                player.pause();
            }
        })

        audio_tracks.addEventListener('click', e => {
            if ((e.target.nodeName == 'BUTTON' && e.target.classList.contains('play_single')) || (e.target.nodeName == 'svg' && e.target.classList.contains('play_svg'))) {
                let parent_cont;

                if (e.target.nodeName == 'BUTTON') {
                    parent_cont = e.target.parentNode;
                }
                else {
                    parent_cont = e.target.parentNode.parentNode;
                }

                const newIndex = Array.from(audio_tracks.querySelectorAll('li')).indexOf(parent_cont);

                if (newIndex == musicIndex) {
                    if(player.paused) {
                        player.play()
                        opened_window.style.display = 'block';
                        open_window_icon.style.transform = 'rotate(270deg)'
                        play.innerHTML = '<i><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="#4B0082" class="bi bi-pause-circle-fill" viewBox="0 0 16 16"><path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.25 5C5.56 5 5 5.56 5 6.25v3.5a1.25 1.25 0 1 0 2.5 0v-3.5C7.5 5.56 6.94 5 6.25 5zm3.5 0c-.69 0-1.25.56-1.25 1.25v3.5a1.25 1.25 0 1 0 2.5 0v-3.5C11 5.56 10.44 5 9.75 5z"/></svg></i>'
                        music_block.style.marginTop = '-16px';
                    }
                    else {
                        player.pause()
                        play.innerHTML = '<i><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="#4B0082" class="bi bi-play-circle-fill" viewBox="0 0 16 16"><path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/></svg></i>'
                    }
                }
                else {
                    musicIndex = newIndex;
                    setSRC();
                    player.play();
                    opened_window.style.display = 'block';
                    open_window_icon.style.transform = 'rotate(270deg)'

                    play.innerHTML = '<i><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="#4B0082" class="bi bi-pause-circle-fill" viewBox="0 0 16 16"><path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.25 5C5.56 5 5 5.56 5 6.25v3.5a1.25 1.25 0 1 0 2.5 0v-3.5C7.5 5.56 6.94 5 6.25 5zm3.5 0c-.69 0-1.25.56-1.25 1.25v3.5a1.25 1.25 0 1 0 2.5 0v-3.5C11 5.56 10.44 5 9.75 5z"/></svg></i>'
                }
            }
        })

        function setVolume() {
            player.volume = volume_slider.value / 100;
        }

        likeIcon.addEventListener('click', () => {
            let test = true;
            if(test) {
                test = false;
                favouriteAlbums.isFavourite = true;
                likeIcon.innerHTML = '<i class="main_info_like_icon"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" class="bi bi-heart-fill" fill="#000" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/></svg></i>';
            }
            else {
                test = true;
                favouriteAlbums.isFavourite = false;
                likeIcon.innerHTML = '<i class="main_info_like_icon"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" class="bi bi-heart-fill" fill="#4B0082" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/></svg></i>';
            }


        })

        console.log(`${musics[musicIndex].music}`)
    </script>

{% endblock %}