{% extends 'main/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<section style="margin-left: 50px">
    <div class="section-browse" id="section">
        <div class="section_container_search_system">
            <div class="nav_search_form_block">
                <form method="get">
                    <i class="nav_search_icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                        </svg>
                    </i>
                    <a href="{% url 'search' %}"><input type="search" name="search" placeholder="Search..." autocomplete="off" class="nav_search_input"></a>
                    <h6 class="nav_search_login">{{ user.username }}</h6>
                    <div class="profile_open_block">
                        {% if user.author_check %}
                            <a href="{% url 'create_music' %}"><p> Add Music </p></a>
                        {% else %}
                            <a href="{% url 'register_artist' %}"><p> To be Artist </p></a>
                        {% endif %}
                        <span><a href="{% url 'logout' %}"> Logout </a></span>
                    </div>
                </form>
            </div>
        </div>

        <div class="head_background">
            <h3 class="good_day">{{message}}!</h3>
        </div>

        <div class="section_albums_container">
            {% for album in sorted_album %}
                <div class="album_block">
                    <div class="albums_container_block">
                        <div class="albums_container_image_cover">
                            <div class="albums_container_image">
                                <a href="{% url 'detail_album' album.0 %}">
                                    <span class="albums_container_span_hover">
                                        <p> Listen </p>
                                        <i class="albums_container_icon_hover">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#4B0082" class="bi bi-play-circle-fill" viewBox="0 0 16 16">
                                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/>
                                            </svg>
                                        </i>
                                    </span>
                                </a>
                                <img src="/media/{{ album.1 }}" >
                            </div>
                        </div>
                        <h2>{{ album.2 }}</h2>
                    </div>
                </div>
            {% endfor %}
            <div class="see_all">
                    <a href="#">
                        See All
                    </a>
            </div>
        </div>
        <hr>
        <div class="hip_hop album_title">
            <h1>Hip - Hop</h1>
            <div class="section_albums_container">
                {% for hiphop in album_hiphop %}
                    <div class="album_block">
                        <div class="albums_container_block">
                            <div class="albums_container_image_cover">
                                <div class="albums_container_image">
                                    <a href="{% url 'detail_album' hiphop.id %}">
                                        <span class="albums_container_span_hover">
                                            <p> Listen </p>
                                            <i class="albums_container_icon_hover">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#4B0082" class="bi bi-play-circle-fill" viewBox="0 0 16 16">
                                                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/>
                                                </svg>
                                            </i>
                                        </span>
                                    </a>
                                    <img src="{{ hiphop.img.url }}" alt="{{ hiphop.img.alt }}">
                                </div>
                            </div>
                            <h2>{{ hiphop.name_of_album }}</h2>
                        </div>
                    </div>
                {% endfor %}
                <div class="see_all">
                    <a href="#">
                        See All
                    </a>
                </div>

            </div>
        </div>
        <hr>
        <div class="rb album_title">
            <h1>R&B</h1>
            <div class="section_albums_container">
                {% for rb in album_rb %}
                    <div class="album_block">
                        <div class="albums_container_block">
                            <div class="albums_container_image_cover">
                                <div class="albums_container_image">
                                    <a href="{% url 'detail_album' rb.id %}">
                                        <span class="albums_container_span_hover">
                                            <p> Listen </p>
                                            <i class="albums_container_icon_hover">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#4B0082" class="bi bi-play-circle-fill" viewBox="0 0 16 16">
                                                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/>
                                                </svg>
                                            </i>
                                        </span>
                                    </a>
                                    <img src="{{ rb.img.url }}" alt="{{ rb.img.alt }}">
                                </div>
                            </div>
                            <h2>{{ rb.name_of_album }}</h2>
                        </div>
                    </div>
                {% endfor %}
                <div class="see_all">
                    <a href="#">
                        See All
                    </a>
            </div>
            </div>

        </div>
    </div>
</section>

    <script>
        const opened_window = document.querySelector('.profile_open_block');
        const click_btn = document.querySelector('.nav_search_login');
        let test = true;

        click_btn.addEventListener('click', () => {
            if(test) {
                test = false;
                opened_window.style.display = 'flex';
            }
            else {
                test = true;
                opened_window.style.display = 'none';
            }
        })

    </script>

{% endblock %}